@font-face {
  font-family: 'Haval';
  src: url('Haval-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Haval';
  src: url('Haval-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Haval';
  src: url('Haval-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Arial';
  src: url('Arial.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 38px;

  font-family: 'Haval', 'Raleway', sans-serif;
  color: #ffffff;

  background: #000000;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}


/* header */
.header {
  display: flex;
}

.header__slogan {

}

.header__logo {
  margin-left: 30px;
}

/* slogan */
.slogan {
  display: flex;
  width: 100%;
  height: 26px;
}

.slogan__cut {
  display: inline-block;
  position: relative;
  left: 16px;
  width: 38px;
  height: 26px;

  background-color: #44b8b6;
  transform: skewX(-28deg);
}

.slogan__content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 52px;

  font-size: 12px;
  color: #1a1815;

  background: #ffffff;
}

/* main_info */
.main_info {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

.main_info__greetings {

}

.main_info__greetings_text {
  font-size: 38px;
  line-height: 1.2;
  font-weight: 500;
}

.main_info__watch {
  margin-top: 48px;
}

.main_info__address {
  margin-left: 16px;
}

.main_info__staff {
  margin-left: 16px;
}

/* watch */
.watch {
  display: flex;
  font-weight: 400;
}

.watch__time {
  font-size: 90px;
  line-height: 1;
}

.watch__date {
  display: flex;
  flex-direction: column;
  margin-left: 36px;

  font-size: 28px;
  line-height: 34px;
}

.watch__date span:first-child {
  margin-bottom: 16px;
}

/* address */
.address {}

.address__title {
  margin-bottom: 32px;
  font-size: 32px;
  line-height: 38px;
}

.address__text {
  font-family: 'Arial', 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 28px;
}

/* staff_list */
.staff_list {
  display: flex;
  margin-left: -52px;
}

/* staff_item */
.staff_item {
  margin-left: 52px;

  font-family: 'Arial';
  font-size: 20px;
  line-height: 24px;
}

.staff_item__avatar {
  width: 140px;
  height: 160px;
}

.staff_item__avatar img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.staff_item__name {
  margin-top: 8px;
}

.staff_item__phone {
  margin-top: 12px;

  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
}

/* order_queue */
.order_queue {
  margin-top: 16px;
}

.order_queue table {
  width: 100%;
  border-collapse: collapse;
}

.order_queue th,
.order_queue td {
  border: none;
  border-bottom: 1px solid #ffffff;
}

.order_queue th {
  padding: 0 8px 14px 0;

  font-size: 28px;
  line-height: 34px;
  text-align: left;
  font-weight: 500;
}

.order_queue td {
  padding-top: 12px;
  padding-bottom: 12px;

  font-family: 'Arial', 'Roboto', sans-serif;
  font-size: 30px;
  line-height: 36px;
}

.order_queue th:nth-child(1) {
  width: 12%;
}

.order_queue th:nth-child(2) {
  width: 12%;
}

.order_queue th:nth-child(3) {
  width: 16%;
}

.order_queue th:nth-child(4) {
  width: 18%;
}

.order_queue th:nth-child(5) {
  width: 28%;
}

.order_queue th:nth-child(6) {
  width: 14%;
}

/* status */
.status_order {
  display: flex;
  align-items: center;

  color: #D6D6D6;
}

.status_order--in_progress {
  color: #F0A21E;
}

.status_order--completed {
  color: #44B8B6;
}

.status_order_ic {
  width: 26px;
  height: 46px;
  margin-right: 20px;

  background-color: currentColor;
}

.status_order_text {
  color: currentColor;
}

/* 720p */
@media (max-width: 1280px) {
  body {
    zoom: 0.6;
    min-height: 160vh;

  }
}

/* 1.5k */
@media (min-width: 2560px) {
  body {
    zoom: 2;
    min-height: 50vh;
  }
}